/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
} */

.verification-container {
    text-align: center;
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')no-repeat center center fixed;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.verification h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.otp-inputs input[type="tel"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.otp-inputs input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.a h1 {
    margin-bottom: 20px;
}

.a input[type="tel"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.a button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.a button:hover {
    background-color: #0056b3;
}

.b1 {
    margin-bottom: 20px; 
}

.footer {
    background-color: #2c3e50;
    color: black;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.footer .footer-categories, 
.footer .footer-cities, 
.footer .footer-info {
    flex: 1 1 300px;
    margin: 20px 10px; 
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ecf0f1;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #bdc3c7;
    transition: color 0.3s ease-in-out;
}

.footer ul li a:hover {
    color: #3498db;
}

.footer .footer-info p {
    margin: 10px 0;
}

.footer .footer-info ul {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.footer .footer-info ul li {
    margin: 0;
}

.footer .footer-info ul li a {
    font-size: 14px;
}
